<%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
    <section class="branding-banner">
    <div class="branding-content">
        <img src="/images/dino-icon.jpg" alt="Dino Logo" class="branding-icon">
        <h1 class="branding-title">Zalandino</h1>
    </div>
    </section>
    <h1>Some error occured! </h1>
    <p>We are working on fixing the issue.</p>

<%- include('partials/end.ejs') %>