<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
<section class="branding-banner">
    <div class="branding-content">
        <img src="/images/dino-icon.jpg" alt="Dino Logo" class="branding-icon">
        <h1 class="branding-title">Zalandino</h1>
    </div>
</section>        
        <main>
                <h1>Thank you for your purchase!</h1>
                <p>Your payment was successful.</p>
                <a href="/orders">Go to your orders</a>
        </main>
        <%- include('../partials/end.ejs') %>